@charset "utf-8";
/* CSS Document */

html{
 margin:0;
 padding:20px;	
 background:#000;
}

body{
background-image:url(../images/background.png);
 background-repeat: no-repeat;

width:1000px;
height:800px;

margin:6em auto;
/*padding:1%;*/

-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;

-webkit-box-shadow: 0px 0px 5px 5px #F90;
-moz-box-shadow: 0px 0px 5px 5px #F90;
box-shadow: 0px 0px 5px 5px #F90;

}

#geo{
	margin:5px 0 0 30px;
}

#geo-form{
 margin: 0 0 0 30px;
 width:50%;	
}

#adr{
	width:50%;	
}

div{
	margin:0;
	padding:0;
	
}




figure{
	margin-top:-60px;
	padding:0;
}

.museums {

		
}

#map {
	float:right;
	bottom: 0px;
	float:right;
	position: absolute;
	margin: 430px 0px 0px 20px;
	top: 35px;
	width: 530px;
	height:430px;
	box-shadow: 0px 0px 5px 5px #999;
	-webkit-box-shadow: 0px 0px 5px 5px #999;
    -moz-box-shadow: 0px 0px 5px 5px #999;
	
}

h1{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:46px;
	color:#039;
	width:40%;
	margin:0 0 0 40px;
	padding:0px;
	text-align:center;
	
}

.museums{
	float:right;
	/*background-color:#fff;*/
	margin: 15px 30px 0px 10px;
	height:410px;
	width:380px;
	box-shadow: 0px 0px 5px 5px #999;
	
	overflow-y:scroll;
	
	list-style-type: none;
	padding: 10px;
}


.distance a{
	color:#309; /*dark blue*/
	text-decoration:none;
	padding:10px 0 10px 0;
	
}


.museums li {
	cursor: pointer;
	
	
}

.museums > li {
	background-color:rgba(255,255,255,.3);	
	margin-bottom:10px;
}

.box{
    margin:0;
	padding:10px 0 10px 0;
	background-color: rgba(153,102,153,.3);
}


/*.museums a, .museums a:link, .museums a:visited {
    border: 1px solid #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    color: #38452E;
    display: inline;
    margin: 0;
    overflow: hidden;
   padding: 0.4em .8em 0.4em 4.8em;
   text-decoration: none;
    text-shadow: 1px 1px 1px #FFFFFF;
}*/

 .museums li:hover{
	background-color:rgba(0,51,255,.3);
	
}

.museums a,
.museums a:link,{
    	color: #66C; /*blue*/
		line-height:50;
		padding:10px;
		
}




.museums li meter {
	display: inline-block;
	height: 0;
	margin: 0;
	padding: 0;
	width: 0;

	-webkit-appearance: none;
	appearance: none;
}

.rater {
	display: inline-block;
	margin: 0;
	padding: 0;
	/*vertical-align: middle;*/

	list-style-type: none;
	line-height: 1;
}

.rater-level {
	float: left;
    /*background-color:#FFF;*/
	color: #efecd2;
}

.rater-level a,
.rater-level a:link,
.rater-level a:visited {
	color: #efecd2;
	/*color:#3F0;*/
	text-decoration: none
}

.rater-level li{
 background:transparent;	
}

.rater-level a:hover,
.rater-level a:focus,
.rater-level a:active,
.is-rated,
.is-rated a,
.is-rated a:link,
.is-rated a:visited,
.is-rated a:hover,
.is-rated a:focus,
.is-rated a:active,
.is-rated-hover a,
.is-rated-hover a:link,
.is-rated-hover a:visited {
	color: #ffe91f;
}

/*.info-window strong {
	display: block;
}
*/

.museums li meter {
    display: inline;
    display: inline;
    height: 0;
    margin: 0;
    padding: 1em;
    width: 0;
}
/*----------------single.php---------------------*/
h2{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:26px;
	color:#039;
	width:70%;
	margin:10px 0 0px 250px;
	padding:0;
	
	text-decoration:underline;
}

h3{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:20px;
	color:#039;
	width:70%;
	margin:10px 0 0px 200px;
	padding:0;
	
	text-decoration:underline;
}	


.ratedeco{
	width:500px;
	height:300px;
	margin:20px 0 0 230px;
	padding:20px;
	font-family:"Courier New", Courier, monospace;
	font-size:18px;
	box-shadow: 0px 0px 5px 5px #999;
	-webkit-box-shadow: 0px 0px 5px 5px #999;
	-moz-box-shadow: 0px 0px 5px 5px #999;
	font:#fff;
}
dl{
	/*display:inline;*/
	/*width:100%;	*/
	padding-top:10px;
	
}
/* dt{
 float:left;
 width:50%;
 text-decoration:underline;	

 padding:0;
 }*/
 


/*dd{
 width:50%;	
 float:left;
 margin:0;
 padding:0;
}*/


 #address{
	 float:left;
	 width:30%;
	 font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }
 
 
 #address1{
	 float:left;
	 width:100%;
	 font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }
 #address2{
	 float:right;
	 width:30%;
	 font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }

meter {
	padding:0;
	margin:0;
}

/*.ra{
	width:500px;
	height:100px;
	font-family:"Courier New", Courier, monospace;
	font-size:18px;
	box-shadow: 0px 0px 5px 5px #999;
	-webkit-box-shadow: 0px 0px 5px 5px #999;
	-moz-box-shadow: 0px 0px 5px 5px #999;
	margin:20px 0 0 230px;
	padding:20px;
	font:#fff;
}*/

/*----------------------------------admin.php-----------------------*/
.admin-box{
	width:500px;
	height:380px;
	margin:20px 0 0 230px;
	padding:20px;
	box-shadow: 0px 0px 5px 5px #999;
	-webkit-box-shadow: 0px 0px 5px 5px #999;
	-moz-box-shadow: 0px 0px 5px 5px #999;
	
	overflow-y:scroll;
	position: absolute;
	/*float:right;
	bottom: 0px;
	
	
	margin: 430px 0px 0px 100px;
	top: 35px;
	width: 700px;
	height:380px;
	box-shadow: 0px 0px 5px 5px #999;
	-webkit-box-shadow: 0px 0px 5px 5px #999;
    -moz-box-shadow: 0px 0px 5px 5px #999;
	*/
	
}

.ul1{
	margin:20px 0 0 40px;
	padding:10px;
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#333;
	list-style: none;
	text-decoration:none;
	line-height:2;
}

/*{
	color:#333;
	list-style: none;
	text-decoration:none;
	
}
*/

.edit-stuff{
	
	width:30%;
	margin:0 0 0 30px;
}

.edit-stuff a,
.edit-stuff a:link{
	color:#fff;
}

.edit-stuff li:hover{
	color:#3F3;
}

.sign{
	background-color:#666;
	margin: 20px 0 0 40px;
	padding:10px;
	width:7%;
}

.sin{
	
	text-decoration:none;
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:16px;
	color:#FFF;
}



.sin:hover{
	color:#006;
}

#over1:hover{
	color:#036;
}